{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Pharmaseek</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'images/icons8-medicine-16.png'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="col-3 text-center">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid h-25 w-25 mb-5">
            <h1 class="fw-medium fs-2">Welcome Back</h1>
            <form method="POST" class="mt-4">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingName" placeholder="Pharmacy Name">
                    <label for="floatingName">Pharmacy Name</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button type="submit" class="btn btn-dark w-100 py-3 mt-2">Continue</button>
            </form>
            <p class="text-center mt-3 text-body-secondary">Don't have an account? <a href="{% url 'signup' %}" class=" text-dark fw-medium">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
